
a {
  color: #fff;
}
.navbar .container .navbar-nav .nav-link {
  color: rgb(173, 178, 203);
  border-radius: 18px;
  padding: 8px 16px;
}

.navbar .container .navbar-nav .nav-link:hover {
  background-color: rgb(127, 68, 255);
  color: white !important;
}
