.intro-section {
  color: #fff;
  text-align: center;
  padding: 20px;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.product-category {
  width: 200px;
}
.search-input {
  width: 300px;
  background-color: rgb(19, 23, 42);
  margin-right: 10px;
  border-color: rgba(255, 255, 255, 0.5);
  color: #fff;
}
.form-control {
  background-color: transparent;
  color: #fff;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.product-item {
  background-color: rgb(19, 23, 42);
  border: 1px solid rgb(35, 39, 61);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.product-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.product-title {
  color: #fff;
}
.product-description {
  color: rgb(173, 178, 203);
}
.product-warranty {
  color: rgb(242, 126, 212);
}
.product-price {
  color: #fff;
}
.product-rating {
  color: yellow;
  margin-top: 10px;
}
.product-action {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
