<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Đây là trang home</h1>
    <p>Trang này hiển thị danh sách các sản phẩm</p>
    <p>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây</p>
  </div>
  <!-- Search box và combo box -->
  <div class="search-box">
    <input
      type="text"
      class="form-control search-input"
      placeholder="Tìm sảm phẩm"
    />
    <select class="form-control product-category" name="" id="">
      <option selected disabled>Danh mục sản phẩm</option>
      <option>Đồ điện tử</option>
      <option>Đồ gia dụng</option>
      <option>Bánh kẹo</option>
    </select>
  </div>

  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="product-image"
        />
        <h3 class="product-title">Product 1</h3>
        <p class="product-description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>@200</del> $100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-action">
          <button class="btn btn-success">Thêm vào giỏ hàng</button>
          <button class="btn btn-primary">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="product-image"
        />
        <h3 class="product-title">Product 1</h3>
        <p class="product-description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>@200</del> $100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-action">
          <button class="btn btn-success">Thêm vào giỏ hàng</button>
          <button class="btn btn-primary">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="product-image"
        />
        <h3 class="product-title">Product 1</h3>
        <p class="product-description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>@200</del> $100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-action">
          <button class="btn btn-success">Thêm vào giỏ hàng</button>
          <button class="btn btn-primary">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="product-image"
        />
        <h3 class="product-title">Product 1</h3>
        <p class="product-description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>@200</del> $100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-action">
          <button class="btn btn-success">Thêm vào giỏ hàng</button>
          <button class="btn btn-primary">Mua ngay</button>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img
          src="https://images.pexels.com/photos/4050426/pexels-photo-4050426.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt=""
          class="product-image"
        />
        <h3 class="product-title">Product 1</h3>
        <p class="product-description">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        </p>
        <p class="product-warranty">Bảo hành: 12 tháng</p>
        <p class="product-price">Giá: <del>@200</del> $100</p>
        <div class="product-rating">
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fa-solid fa-star"></i>
          <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="product-action">
          <button class="btn btn-success">Thêm vào giỏ hàng</button>
          <button class="btn btn-primary">Mua ngay</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer goes here -->
<app-footer></app-footer>