<app-header></app-header>
<div class="container">
  <div class="row" >
    <div class="col-md-6 offset-md-3">
      <div class="register-form mx-auto">
        <h2 class="register-header">Đăng ký tài khoản</h2>
        <div class="form-group">
          <label for="username">Email/Phone</label>
          <input type="text" class="form-control" id="email" placeholder="Tên đăng nhập" />
          <div class="divider-nospace"></div>
        </div>

        <div class="form-group password-field">
          <label for="password">Mật khẩu</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Ít nhất 3 ký tự"
          />
          <i class="password-toggle fa fa-eye-slash" aria-hidden="true"></i>
          <div class="divider-nospace"></div>
        </div>

        <div class="form-group password-field">
          <label for="password">Nhập lại mật khẩu</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Ít nhất 3 ký tự"
          />
          <i class="password-toggle fa fa-eye-slash" aria-hidden="true"></i>
          <div class="divider-nospace"></div>
        </div>

        <div class="form-group">
          <label for="name">Họ và tên</label>
          <input type="text" class="form-control" id="name" />
          <div class="divider-nospace"></div>
        </div>


        <div class="form-group">
          <label for="address">Địa chỉ</label>
          <input type="text" class="form-control" id="address"  />
          <div class="divider-nospace"></div>
        </div>


        <div class="form-group">
          <div class="form-check checkbox-text">
            <span style="display: flex;">
              <input
                type="checkbox"
                class="form-check-input"
                name=""
                id="remember"
              />
              <label class="form-check-label" for="remember">
                Tôi đồng ý với các điều kiện
              </label>
            </span>
            
          </div>
        </div>

      <div>
          <button type="button" class="register-button" >Đăng ký</button>
          <div class="divider" ></div>
          <p class="text-center" >Bạn đã có tài khoản? <span><a href="#" class="login-link" >Đăng nhập!</a></span></p>
        </div>

      </div>
    </div>
  </div>
  
<app-footer></app-footer>
